html, body {
	font-family: $font-serif;
	min-height: 100%;
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	@include background-image(url("../../images/bg-lines.png"));
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

ul {
	padding: 0;
	margin: 0;

	li {
		margin: 0;
		padding: 0;
	}
}

section {
	width: 100%;
	min-height: 100%;	
	position: relative;
	overflow-x: hidden;
	clear: both;
	position: relative;

	&.bg-image {
		min-height: 100%;
		background-size: cover;
		background-attachment: fixed;
	}

	&.bg-image-bleed {
		background: rgba(255, 255, 255, 0);
	}

	&.timeline {
		min-height: 0px;

		.inner {
			max-width: 1100px;
			width: 90%;
		}
	}

	&.section-text {

		.section-header {
			position: absolute;
			left: 0;
			width: 100%;
			text-transform: uppercase;
			text-align: right;
			font-family: $font-sans;
			border-bottom: 4px solid $white;
			z-index: 3;

			h1 {
				font-size: 2em;
				color: $white;
				padding: .9em 2em;
				font-weight: 900;
			}
		}
		
		.side {
			width: 50%;
			float: left;
			margin-left: 50%;
			position: relative;
			padding: 2.8em 2em 14em 2em;
			text-align: right;
			font-size: 2em;

			@include box-sizing(border-box);

			.side-image {
				position: absolute;
				left: -100%;
				top:0;
				height: 100%;
				width: 100%;
				background-size: cover;
				background-attachment: fixed;
			}

			.block {
				padding-bottom: 1em;
				position: relative;

				p {
					font-size: .75em;
					line-height: 1.4em;
					padding: .2em 0;

					.bold {
						font-weight: 900;
					}
				}

				&.padded {
					margin-top: 1em;
				}
			}

			.block-line {
				width: 50%;
				height: 2px;
				background: $white;
				position: absolute;
				right: 0;

			}

			address {
				padding: 0 0 .6em 0;

				p {
					font-size: .6em;
					line-height: 1.2em;
					font-weight: 900;
				}
			}

			h1 {
				font-size: 1.4em;
				font-weight: 900;
				padding-top: 1em;
			}
			
			h3 {
				font-size: .9em;
				padding: 1em 0 .4em 0;
				font-weight: 900;
			}


		}
	}

	.section-content {
		display: block;
		position: relative;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		z-index:3;
	}

	.section-bottom {
		width: 90%;
		margin: 50% auto 0 auto;
		background: rgba(#b3b3b3, 0);
		position: absolute;
		bottom: 0;
		left: 5%;
		
		z-index: 3;
		padding-bottom: 6em;
		color: $white;
		font-family: $font-serif;
	}
}

.image-wrap {
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
	height: 100%;
	
	.image-full {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-attachment: fixed;
		background-repeat:no-repeat;
		@include background-size(cover);
	}

	.regular {
		z-index: 1;
	}

	.blurred {
		z-index: 2;
		opacity: 0;
	}
}

.inner {
	width: 80%;
	max-width: 800px;
	display: block;
	margin: 0 auto;
	position: relative;
	@include box-sizing(border-box);

	h1 {
		font-size: 3em;
		text-align: center;
		font-family: $font-sans;
		text-transform: uppercase;
		padding: .4em 0;
	}

	p {
		font-size: 1.5em;
		line-height: 1.6em;
		margin-bottom: .8em;
		text-align: left;

		&:last-child {
			margin-bottom: 0;
		}

		.caps {
			font-size: 1.8em;
			font-family: $font-serif;
			text-transform: uppercase;
			font-weight: bold;
		}

		.italic {
			font-style: italic;
		}

		&.subtext {
			font-size: 1.2em;
			font-style: italic;
		}
	}

	ul.bullet-list {
		padding-left: 2em;
		list-style: none;

		@media screen and (max-width: $tablet) {
			padding-left:0;
		}
	}

	li.bullets {
		font-size: 1.3em;
		line-height: 1.4em;
		margin-bottom: .8em;
		padding-left: 2.2em;
		text-align: left;
		background-image: url("../../images/icons/knot-white.png");
		background-repeat: no-repeat;
		background-position: 0px 9px;

		@media screen and (max-width: $phone) {
			font-size: .9em;
			background-image: none;
			padding-left:0;
		}
	}
}

@media screen and (max-width: $tablet) {
	.inner {
		width: 90%;

		h1 {
			font-size: 1.4em;
		}

		p, li {
			font-size: 1em;
		}
	}
}
