html, body {
	font-family: $font-serif;
	min-height: 100%;
	height: 100%;
	width: 100%;
	position: relative;
}

ul {
	padding: 0;
	margin: 0;

	li {
		margin: 0;
		padding: 0;
	}
}

section {
	width: 100%;
	min-height: 100%;	
	position: relative;
	overflow-x: hidden;
	clear: both;
	position: relative;
	margin-bottom: 50px;

	&.bg-image {
		min-height: 100%;
		background-size: cover;
		background-attachment: fixed;
	}

	&.bg-image-bleed {
		background: rgba(255, 255, 255, 0);
	}

	.section-content {
		display: block;
		position: relative;
		width: 90%;
		margin: 100% auto 0 auto;
		color: white;
		height: 500px;
		font-size: 3em;
		z-index: 3;
	}
}

.image-wrap {
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
	height: 100%;
	
	.image-full {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-attachment: fixed;
		@include background-size(cover);
	}

	.regular {
		z-index: 1;

	}

	.blurred {
		z-index: 2;
		opacity: 0;
	}
}

.timeline {
	display: none;

	&:before {
		display: none;
		content: '';
		position: absolute;
		top: 0;
		width: 4px;
		background: $white;
		height: 100%;
		left: 50%;
		margin-left: -2px;
		z-index: 5;

	}
}

.inner {
	width: 80%;
	max-width: 800px;
	display: block;
	margin: 0 auto;
	position: relative;
	@include box-sizing(border-box);

	h1 {
		font-size: 3em;
		text-align: center;
		font-family: $font-sans;
		text-transform: uppercase;
		padding: .4em 0;
	}

	p {
		font-size: 1.5em;
		line-height: 1.6em;
		text-align: justify;
		margin-bottom: .8em;
		font-weight: 100;
		font-family: $font-sans;

		&:last-child {
			margin-bottom: 0;
		}

		.letter-large {
			font-size: 1.8em;
			font-family: $font-serif;
			text-transform: uppercase;
			font-weight: bold;
		}

		.italic {
			font-style: italic;
		}
	}
}

@media screen and (max-width: 1000px) {
	.inner {
		width: 90%;

		h1 {
			font-size: 2.2em;
		}

		p {
			font-size: 1.5em;
		}
	}
}
