$header: 90px;
$header-small: 50px;

body.loaded {
	#intro #main {
		display: table-cell;
	}

	header {
		display: block;
	}
}

header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background: transparent;
	z-index:10;
	display: none;

	@include fadeInDown(1.3s);

	&.small {
		background: $white;
		
		nav {
			padding: (($header-small - 20px) / 2) 0;
		}

		#arrow {
			top: -40px;
		}

		@media screen and (max-width: 1000px) {
			#arrow {
				top: -80px;
			}
		}
	}

	$arrow-width: 200px;
	#arrow {
		display: block;
		width: $arrow-width;
		height: auto;
		position: absolute;
		left: 50%;
		margin-left: -$arrow-width / 2;
		top: 0px;
		z-index: 4;
		@include transition(all .1s ease-in-out);

		@media screen and (max-width: 1000px) {
			top: -60px;
		}
	}

	nav {
		padding: (($header - 20px) / 2) 0;
		position: relative;
		z-index: 5;
		width: 400px - $arrow-width / 2 - 20px;
		@include transition(all .1s ease-in-out);

		a {
			text-decoration: none;
			color: $black;
			text-transform: uppercase;
			font-family: $font-sans;
			font-weight: 200;
			float: left;
			font-size: 20px;
			display: none;

			&:hover {
				border-bottom: 1px solid $black;
			}
		}

		ul {
			list-style: none;
		}

		li {
			float: left;

			&.knot {
				height: 20px;

				img {
					width: 40px;
					margin: -10px 20px 0 20px;
				}
			}
		}

		&#left {
			float: left;
			padding-right: $arrow-width / 2 + 20px;

			ul {
				float: right;
			}
		}

		&#right {
			float: right;
			padding-left: $arrow-width / 2 + 20px;

			ul {
				float: left;
			}
		}

		@media screen and (max-width: 1000px) {
			width: 50%;
			@include box-sizing(border-box);

			&#left {
				padding-right: 45px;

				a {
					float: right;
				}
			}

			&#right {
				padding-left: 45px;

				a {
					float: left;
				}
			}

			li {
				width: 100%;
				display: block;

				&:first-child {
					margin-bottom: 15px;
				}

				&.knot {
					display: none;
				}
			}

			a {
				font-size: 18px;
			}
		}
	}
}
