$header: 90px;
$header-small: 50px;

body.loaded {
	#intro #main {
		display: table-cell;
	}

	header {
		display: block;
	}
}

header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background: transparent;
	z-index:10;
	display: none;
	@include fadeInDown(1.3s);

	&.small {
		background: $white;

		#arrow {
			top: -40px;
		}

		ul li {
			line-height: $header-small;
		}
	}

	$arrow-width: 200px;
	#arrow {
		display: block;
		width: $arrow-width;
		height: auto;
		position: absolute;
		left: 50%;
		margin-left: -$arrow-width / 2;
		top: 0px;
		z-index: 4;
		@include transition(all .1s ease-in-out);

		@media screen and (max-width: $tablet) {
			display: none;
		}
	}

	ul {
		list-style: none;
		text-align: center;
		
		li {
			display: inline;
			margin: 0 25px;
			line-height: $header;
			@include transition(all .1s ease-in-out);

			&:nth-child(2) { margin-right: 160px; }

			&.mobile-hide {
				@media screen and (max-width: $phone) {
					display: none !important;
				}
			}

			a {
				text-decoration: none;
				color: $black;
				font-family: $font-sans;
				text-transform: uppercase;
				font-size: 20px;
				display: inline-block;

				&:hover {
					text-decoration: underline;
				}
			}

			&:first-child {
				margin-left: -16px;
			}

			@media screen and (max-width: $phone) {
				margin: 0 10px !important;

				a {
					font-size: 12px;
				}
			}
		}
	}
}

