#intro {
	display: table;
	@include background-image(url("../../images/bg-intro.png"));
	opacity: 0;

	#main {
		height: 100%;
		display: none;
		vertical-align: middle;
		@include fadeInUp(1.3s);
	}

	h1 {
		text-align: center;
		font-size: 6em;
		font-weight: 900;

		span {
			font-weight: 100;
		}
	}

	h2 {
		text-transform: uppercase;
		text-align: center;
		margin-top: 60px;
		font-family: 'Gill Sans';
		font-weight: 400;
		font-size: 1.1em;
	}
}

#us {
	@include background-image(url("../../images/bg.png"));
}

#story {

}

#weekend {

	.third {
		width: 33.33333%;
		position: relative;
		float: left;
		padding: 50px 30px;
		@include box-sizing(border-box);

		&:after {
			content: "";
			background: $grey;
			height: 60%;
			width: 1px;
			display: block;
			position: absolute;
			right: 0;
			top: 20%;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}

		.info {
			* {
				text-align: center;
				font-family: $font-sans;
			}

			h1 {
				font-size: 3em;
				text-transform: uppercase;
			}

			h3 {
				font-size: 1.5em;
			}
		}
	}

	.card {
		width: 100%;
		background: $white;
		margin: 15px 0;
		padding: 10px;
		float: left;
		@include box-sizing(border-box);
		
		h2 {
			font-weight: 700;
			font-size: 1.7em;
			margin: .3em 0;
		}

		h4 {
			font-size: 1.1em;
			margin: .3em 0;
		}

		p {
			font-size: 1em;
			margin: 1em 0;
			line-height: 1.4em;
		}



	}
}

#registry {

	.inner {
		padding: 60px;

		h1 {
			font-size: 3em;
			text-align: center;
			font-family: $font-sans;
			text-transform: uppercase;
			margin-bottom: .3em;
		}

		p {
			font-size: 1.7em;
			line-height: 1.7em;
			text-align: justify;
		}

		nav {
			padding-top: 20px;

			a {
				text-align: center;
				font-size: 1.7em;
				text-decoration: none;
				color: #3498db;
				display: block;
				padding: .5em 0;
				position: relative;
				@include box-sizing(border-box);
				
				&:before, &:after {
					color: darken(#3498db, 10%);
					position: absolute;
					top:.5em;
					display: block;
					opacity: 0;
					@include transition(all .2s ease-in-out);
				}

				&:before {
					content: "[";
					left: 40%;
				}

				&:after {
					content: "]";
					right: 40%;
				}

				&:hover {
					color: darken(#3498db, 10%);

					&:before {
						opacity: 1;
						left: 26%;
					}

					&:after {
						opacity: 1;
						right: 26%;
					}
				}
			}
		}
	}
}