#intro {
	display: table;
	position: relative;
	height: 100%;
	opacity: 0;
	@include background-image(url("../../images/bg-lines.png"));

	#main {
		height: 100%;
		display: none;
		vertical-align: middle;
		@include fadeInUp(1.3s);
	}

	h1 {
		text-align: center;
		font-size: 6em;
		font-weight: 900;

		span {
			font-weight: 100;

			@media screen and (max-width: 1000px) {
				display: block;
			}
		}
	}

	h2 {
		text-transform: uppercase;
		text-align: center;
		margin-top: 60px;
		font-family: $font-sans;
		font-weight: 400;
		font-size: 1.4em;
		letter-spacing: 2px;
	}

	@media screen and (max-width: 1000px) {
		h1 {
			font-size: 4em;
		}
	}
}

#section-beginning {
	display: table;
	height: 100%;

	.regular {
		@include background-image(url('../../images/piggyback.jpg'));
	}

	.blurred {
		// @include background-image(url('../../images/piggyback.jpg'));
	}

	.section-content {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}	

	#the-beginning {
		font-family: $font-serif;
		font-size: 4.6em;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		padding: .2em 0;
		border: 8px solid $white;
		background: rgba($white, .3);
		width: 100%;
		@include box-sizing(border-box);

		@media screen and (max-width: 1000px) {
			font-size: .6em;
			height: 90px;
			line-height: 70px;
		}
	}

	.section-content {
		&.timeline::before {
			top:130px;
			height: calc(100% - 130px);

			@media screen and (max-width: 1000px) {
				top:90px;
				height: calc(100% - 90px);		
			}
		}
	}
}

#section-beach {
	.regular {
		@include background-image(url('../../images/beach.jpg'));
	}

	.blurred {
		@include background-image(url('../../images/beach-blurred.jpg'));
	}
}

#section-piggyback {
	.regular {
		@include background-image(url('../../images/piggyback.jpg'));
	}

	.blurred {
		@include background-image(url('../../images/piggyback-blurred.jpg'));
	}
}

#section-wheat {
	.regular {
		@include background-image(url('../../images/wheat.jpg'));
	}

	.blurred {
		@include background-image(url('../../images/wheat-blurred.jpg'));
	}
}










#weekend {
	@include background-image(url("../../images/bg-lines.png"));
	@include background-size(cover);
	background-attachment: fixed;
	background-position: center;

	.day{
		margin-bottom: 30px;
	}

	.day-info {
		text-align: center;

		h3 {
			font-family: $font-serif;
			font-size: 1.2em;
			padding-bottom: 1em;
		}
	}

	.event {
		// border:1px solid $grey;
		// padding: 20px 30px;
		@include box-sizing(border-box);
	}
}

#registry {
	@include background-image(url("../../images/bg-lines.png"));
	@include background-size(cover);
	background-attachment: fixed;
	background-position: center;

	.inner {
		nav {

			a {
				text-align: center;
				font-size: 1.7em;
				text-decoration: none;
				color: $red;
				display: block;
				padding: .5em 0;
				position: relative;
				@include box-sizing(border-box);

				@media screen and (max-width: 1000px) {
					font-size: 1.4em;
				}

				&:before, &:after {
					color: darken($red, 10%);
					position: absolute;
					top:.5em;
					display: block;
					opacity: 0;
					@include transition(all .2s ease-in-out);
				}

				&:before {
					content: "[";
					left: 40%;
				}

				&:after {
					content: "]";
					right: 40%;
				}

				&:hover {
					color: darken($red, 10%);

					&:before {
						opacity: 1;
						left: 26%;
					}

					&:after {
						opacity: 1;
						right: 26%;
					}
				}
			}
		}
	}
}

.divider {
	height: 20px;
	width: 100%;
	@include background-image(url("../../images/bg.jpg"));
	background-attachment: fixed;
}
