.timeline {
	padding: 8em 0;

	&:before {
		content: '';
		width: 8px;
		background: lighten($silver, 10%);
		position: absolute;
		left: 50%;
		margin-left: -4px;
		height: 100%;
		top: 0;
	}

	@media screen and (max-width: $phone) {

		&:before {
			left: 10%;
			margin-left: 0px;
			width: 4px;
		}
	}
}

.timeline-block {
	width: 100%;
	padding: 2em 0;
	position: relative;
	@include clearfix;

	&.offset {
		margin-top: -6em;

		@media screen and (max-width: $phone) {
			margin-top: 0;
		}
	}
}

.timeline-content {
	width: 45%;
	float: left;
	position: relative;
	padding: 1.2em;
	background: $silver;
	border-radius: 4px;
	border-width: 6px;
	border-style: solid;
	border-color: $silver-dark;
	color: darken($silver-dark, 30%);
	@include box-sizing(border-box);

	&:before {
		content: '';
		position: absolute;
		top: 12px;
		height: 0;
		width: 0;
		border: 20px solid transparent;
		border-left: 20px solid $silver-dark;
		left: 100%;
	}

	&.pull-right {
		float: right;
		background: $gold;
		border-color: $gold-dark;
		color: darken($gold-dark, 30%);

		&:before {
			border-left: 20px solid transparent;
			border-right: 20px solid $gold-dark;
			right: 100%;
			left: auto;
		}

		@media screen and (max-width: $phone) {
			float: left;

			&:before {
				border-right: 20px solid $gold-dark;
				border-left: 20px solid transparent;
			}
		}
	}

	&.is-same {
		@media screen and (max-width: $phone) {
			margin-top: 30px;
			right:auto;

			h2 {
				display: none;
			}

			&:before {
				border: 20px solid transparent;
				border-bottom: 20px solid $gold-dark;
				left:50%;
				margin-left: -10px;
				top: -40px;
				bottom: auto;
			}
		}		
	}

	@media screen and (max-width: $phone) {
		margin-left: 40px;
		width: 90%;

		&:before {
			border-right: 20px solid $silver-dark;
			border-left: 20px solid transparent;
			left: auto;
			right: 100%;
		}
	}


	h2 {
		text-align: center;
		text-transform: uppercase;
		font-weight: 900;
		font-family: $font-sans;
		font-size: 1.4em;
		margin-bottom: .4em;
	}

	p {
		font-family: $font-sans;
		font-size: 1.2em;
		line-height: 1.3em;
	}
}

.timeline-circle {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 46px;
	left: 50%;
	margin-left: -23px;
	border-radius: 50%;
	// box-shadow: 0 0 6px darken($silver-dark, 10%);

	&.circle-bowtie {
		border: 4px solid lighten($silver, 10%);
		background: lighten($silver, 20%);
		@include background-image(url("../../images/icons/bowtie.png"));
		background-repeat: no-repeat;
		background-position-x: 5px;
		background-position-y: 13.5px;
		
		@media screen and (max-width: $tablet) {
			@include background-image(none);
		}
	}

	&.circle-ring {
		border: 4px solid $gold;
		background: lighten($gold, 20%);
		@include background-image(url("../../images/icons/ring.png"));
		background-repeat: no-repeat;
		background-position-x: 10px;
		background-position-y: 6.5px;
		
		@media screen and (max-width: $tablet) {
			@include background-image(none);
		}
	}

	&.circle-heart {
		border: 4px solid #D4A5A5;
		background: $white;
		@include background-image(url("../../images/icons/heart.png"));
		background-repeat: no-repeat;
		background-position-x: 6px;
		background-position-y: 10px;
		
		@media screen and (max-width: $tablet) {
			@include background-image(none);
			border: 4px solid lighten($silver, 10%);
			background: lighten($silver, 20%);
		}
	}

	@media screen and (max-width: $tablet) {
		width: 20px;
		height: 20px;
		margin-left: -13px;
		top: 60px;
		@include background-image(none);

	}

	@media screen and (max-width: $phone) {
		left: 0%;
		margin-left: -8px;

	}
}

.is-hidden { visibility: hidden; }
.bounce { @include animation(bounce-in .6s); }

